@import 'core/*';
@import 'extends/*';
@import 'global/fonts';

html {
    font-size: 62.5%;
}

.mce-content-body {
    margin: 9px 10px;
    max-width: 100%;
    color: $base-color;
    font-family: $base-font;

    @extend %richtext;
}

.block-editor {
    .wp-block {
        @extend %richtext;

        @include wrap(content, false, false);

        color: $base-color;
        font-family: $base-font;

        .editor-post-title {
            &__input {
                color: $base-color;
                font-family: $base-font;
            }
        }
    }
}
