### Application
src/app/plugins/*
!src/app/plugins/.gitkeep
# Premium plugins is still under version control
!src/app/plugins/gravityforms

src/app/mu-plugins/*/
src/app/upgrade
src/app/uploads/*
!src/app/uploads/.gitkeep

# WordPress
src/wp
src/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

### Docker ###

docker/files/logs/*
!docker/files/logs/.gitkeep

docker/files/db-dumps/*
!docker/files/db-dumps/.gitkeep

docker/config/db.env
docker/config/web.env



### IDE / editor files ###

# JetBrains files
.idea/

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# SublimeText
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

### OSX specific  ###

.DS_Store

### Docker volumes ###
db

### Deploy ###
.circlerc
deploy/venv
*.pyc
deploy/fabricrc.txt
