### Application

### IDE / editor files ###

# JetBrains files
.idea/

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# SublimeText
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

### OSX specific  ###

.DS_Store


*.pyc
