.article {
    $root: &;

    padding-top: 20px;
    padding-bottom: 20px;
    background: $grey-5;

    &__wrap {
        @include wrap(site);

        display: flex;
        flex-wrap: wrap;

        #{$root}--has-sidebar & {
            @include media(M) {
                flex-wrap: nowrap;
            }
        }
    }

    &__sidebar {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 20px;
        background: white;

        @include media(M) {
            width: 300px;
            margin-right: 20px;
            margin-bottom: 0;
        }
    }

    &__content {
        @include wrap(content, false, false);

        flex: 1 1 auto;
    }

    &__header {
        flex: 1 0 auto;
        width: 100%;
    }

    &__title {
        @include textstyle(page-title);
    }

    &__meta {
        @include textstyle(label);

        margin-top: 20px;
    }

    &__richtext {
        @extend %richtext;

        margin-top: 40px;
    }
}