.footer {
    
    .js-state-menu-open & {
        display: none;

        @include media($mobile-menu) {
            display: block;
        }
    }

    &__container {
        @include wrap(site);
    }

    &__list {
        @include media(S) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
        }

        @include media(M) {
            margin-left: -20px;
        }
    }

    &__column {
        @include media(S) {
            width: calc(50% - 10px);
            margin-left: 10px;
        }

        @include media(M) {
            width: calc(25% - 20px);
            margin-left: 20px;
        }
    }

    @media print {
        display: none !important;
    }
}