.search {
    $root: &;

    padding-top: 20px;
    padding-bottom: 20px;
    background: $grey-5;

    &__wrap {
        @include wrap(site);
    }

    &__title {
        @include textstyle(page-title);
    }

    &__result {
        margin-top: 24px;
        padding: 8px 0;
        background: white;
    }
}