ACF_PRO_KEY=%%ACF_PRO_KEY%%

EP_HOST=http://search:9200

COOKIE_SCRIPT=

GF_LICENSE_KEY=
GF_RECAPTCHA_PRIVATE_KEY=
GF_RECAPTCHA_PUBLIC_KEY=
GF_DEBUG=false
GFORM_DISABLE_AUTO_UPDATE=true

SENTRY_DSN=

DB_NAME=wp
DB_USER=wp
DB_PASSWORD=wp
DB_HOST=%%LOCAL_IP%%:{{cookiecutter.docker_db_port}}

WP_ENV=development
WP_HOME=http://{{cookiecutter.domain_prod}}.test
WP_SITEURL=http://{{cookiecutter.domain_prod}}.test/wp

AUTH_KEY="nS&4*5s)THj]G4Z,Rb@/zV-#r(QRp.<b93xb]!.f.:})ad87T%9fNOJ(XQ8<9pD;"
SECURE_AUTH_KEY="*I![8~av07UW-kce+D=:_RU9u8@2x-Q(^F/wg>HVSYb_LswQ:_R9Zr>5:Y4D0X[!"
LOGGED_IN_KEY="bKV7Q[ZzGKlMC,B1%<IDO/wJr.>_-Wx%,l!lFtOaV[)~C<dyA!3&&%@L[:|]fOw4"
NONCE_KEY="QEv%m,N4rzCkUwX<LDq/mz:Rc&Sa-:C/np:qe9D1UV6~Q[|xtUt;1o&!OWn]|}&h"
AUTH_SALT="8.TWWmY?f*YyLHY1R?@e;=t-sN0R<FwBap%^G{o,]whGD0EaVwMq%kY2=w|RoHo&"
SECURE_AUTH_SALT="r*tL)7*%UG_-WH)h],Q417WHqZZx-x0]F.!aQ{8_^k!1!6;a3-jeO#HeHd?P%Sg)"
LOGGED_IN_SALT="ggZ))*=!3E~m}P3>td?3U}:}9i9:*%G(bK9s-Hjqi~,yHj;,I3<hHKl*#iiIIXH&"
NONCE_SALT="~ZH@]);VG<JJg@R:*8%4,E^d>X4cOuZc2ycVZUAnH2?opd&s&e*9y*Y,c=]Ad&Jd"


