* {
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    color: $base-color;
    font-family: $base-font;
    font-size: 1.6rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

html,body {
    &.no-scroll {
        overflow: hidden;
    }
}

a {
    color: $base-color;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

