@mixin href-external() {
    &[href]:not([href^='mailto:']):not([href^='tel:']):not([href='']):not([href^='#']):not([href^='/']):not([href^='http://example.com']):not([href^='https://example.com']):not([href*='www.example.com']):not([href*='stage.example.com']) {
        @content;
    }
}

@mixin href-download() {
    &[href] {
        &[href$='.pdf'],
        &[href$='.doc'],
        &[href$='.docx'],
        &[href$='.ppt'],
        &[href$='.pptx'],
        &[href$='.xls'],
        &[href$='.xlsx'],
        &[href$='.odt'],
        &[href$='.eps'],
        &[href$='.zip'] {
            @content;
        }
    }
}

@mixin media($key) {
    @if $key == 'd' {
        @content;
    } @elseif map-has-key($breakpoints, $key) {
        @media (min-width: map-get($breakpoints, $key)) {
            @content;
        }
    } @else {
        @error 'Unfortunately, `#{$key}` could be retrieved from `#{$breakpoints}`. Please make sure it is defined in `$breakpoints` map.';
    }
}

@mixin media-max($key) {
    @if $key == 'd' {
        @content;
    } @elseif map-has-key($breakpoints, $key) {
        @media (max-width: map-get($breakpoints, $key)-1) {
            @content;
        }
    } @else {
        @error 'Unfortunately, `#{$key}` could be retrieved from `#{$breakpoints}`. Please make sure it is defined in `$breakpoints` map.';
    }
}

@mixin clearfix() {
    &::after,
    &::before {
        content: '';
        display: table;
        clear: both;
        width: 100%;
    }
}

@mixin wrap($list: (), $includeSpacing: true, $spacingToWidth: true, $center: true) {
    $spacing: 0;

    @if $spacingToWidth {
        $spacing: map-get($gutters, M) * 2;
    }

    @if $center {
        margin-left: auto;
        margin-right: auto;
    }

    @if $includeSpacing {
        @include spacing();

        @include media(M) {
            @include spacing(M);
        }
    }

    @each $size in $list {
        @if map-has-key($maxwidths, $size) {
            max-width: (map-get($maxwidths, $size) + $spacing);
        }
    }
}

@mixin spacing($bp: d) {
    $spacing: map-get($gutters, $bp);

    padding-left: $spacing;
    padding-right: $spacing;
}

/// For setting font-size and line-height on elements defined by variabels,
// including media queries
// Usage: @include textstyle(h1);
@mixin textstyle($key) {

    // Loop through map and set font-size and line-height for each media query
    @if map-has-key($textstyles, $key) {
        $map: get-default($textstyles, $key);

        @each $media, $style in $map {
            @include media($media) {
                @if map-has-key($style, font-size) {
                    $font-size: get-default($style, font-size);
                    font-size: #{$font-size / 10}rem;

                    @if map-has-key($style, line-height) {
                        $line-height: get-default($style, line-height);
                        line-height: #{round($line-height / $font-size * 100) / 100};
                    }
                }

                @each $param, $value in $style {
                    @if $param != font-size and $param != line-height {
                        #{$param}: $value;
                    }
                }
            }
        }
    } @else {
        @error 'Unfortunately, `#{$key}` is missing from `$textstyles` map.';
    }
}
