.blurbs {
    $root: &;

    margin: 20px 0;

    @include media(M) {
        margin: 40px 0;
    }

    &__wrap {
        @include wrap;
    }

    &__title {
        @include textstyle(h2);
    }

    &__list {
        @include media(S) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
        }

        @include media(M) {
            margin-left: -20px;
        }
    }

    &__item {
        @include media(S) {
            width: calc(50% - 10px);
            margin-left: 10px;
        }

        @include media(M) {
            width: calc(25% - 20px);
            margin-left: 20px;
        }
    }

    @media print {
        display: none !important;
    }
}