.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &__container {
        @include wrap(content);

        padding-top: 40px;
        padding-bottom: 40px;
        color: white;
    }

    &__title {
        @include textstyle(title);
    }
}