@use "../shared" as *;
@use "../extends/button";

.menu-main {
    $root: &;

    padding: 10px 0;
    display: flex;
    flex-direction: column;

    @include media($mobile-menu) {
        padding: 0;
        flex-direction: row;
    }

    &__item {
        &--hidden {
            display: none;
        }
    }

    &__link {
        @extend %button--link;
    }

    &__children {
        display: none;
    }
}