.footer {
    
    .js-state-menu-open & {
        display: none;

        @include media($mobile-menu) {
            display: block;
        }
    }

    &__container {
        @include u-wrap(site);
    }
}