.popup {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    color: white;
    background: rgba(black, .9);
    z-index: 100;

    &--cookie {
        position: fixed;
        bottom: 0;
        left: 0;
        background: rgba(darkred, .9);

        // Animation to fade in cookie popup on start if js is disabled
        &.js-state-initial {
            opacity: 0;
            animation: popupStateInitial .2s 2s;
            animation-fill-mode: forwards;
            
            @keyframes popupStateInitial {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
    }

    a,
    button {
        color: white;
        text-decoration: underline;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
}