@mixin u-wrap($list: (), $default: true) {

    @if $default {
        margin: 0 auto;
        padding: 0 10px;

        @include media(md) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @include media(lg) {
            padding-left: 30px;
            padding-right: 30px;
        }

        @if contains($list, site) {
            max-width: (map-get($maxwidths, site) + 60px);
        }

        @if contains($list, content) {
            max-width: (map-get($maxwidths, content) + 60px);
        }
    } @else {
        @if contains($list, site) {
            max-width: map-get($maxwidths, site);
        }
    }
}
