ACF_PRO_KEY=%%ACF_PRO_KEY%%

EP_HOST=http://search:9200

COOKIE_SCRIPT=

GF_LICENSE_KEY=
GF_RECAPTCHA_PRIVATE_KEY=
GF_RECAPTCHA_PUBLIC_KEY=
GF_DEBUG=false
GFORM_DISABLE_AUTO_UPDATE=true

SENTRY_DSN=

DB_NAME=wp
DB_USER=wp
DB_PASSWORD=wp
DB_HOST=%%LOCAL_IP%%:8082

WP_ENV=development
WP_HOME=http://example.com.test
WP_SITEURL=http://example.com.test/wp

AUTH_KEY="kV;,(n?{8lOn9N2P)d2=lrZ2y]pOUI0G,YWA({#STzm^|pkW=9ka5D:w;!*,WEQU"
SECURE_AUTH_KEY="X]fuboZ|8J~l}e3Io:gW+Xi0LA]ht^~,m;<+^Pvj5FwTVd*o{5Sq6I~5!itd0:1e"
LOGGED_IN_KEY="QBv)b%i}A98I?.uodxFKNlIH#cgg2{ckV0u(Z9;U%TNN/%C3E,p@Zo[1B!PRp1-,"
NONCE_KEY="i#x8pO{t7[T5G|nURnUtVD[6TheYyA:i8TJS{huzu+p;Un[-L[?L8HI*zE^1h3~."
AUTH_SALT="%jCn|#[N#-CTIe_ox?oI!@C4qL):JzHR*YBQ|)|9OW_}TvYaUPnbAb^3w/NH+r-d"
SECURE_AUTH_SALT="3wQ:Z+_,]iQP2HeAT%9>h>3De!6KcyH~Y%{P2Eukq>yy|tk}=+eQqa>s7!~[Bw:*"
LOGGED_IN_SALT="(dyivZWY2+rnS0~7LL;u@_Q5d:b.RT+Np|>^fL?=IWnF[w~&#zthK(v^k#w0,RQc"
NONCE_SALT="{qNBnEO+@C_zv-4z/)no0M(n;yHiO<VOwx%f(HF>j[x!DU?y=TEdw8<_=/1t_:M2"


