ACF_PRO_KEY=%%ACF_PRO_KEY%%

EP_HOST=http://search:9200

COOKIE_SCRIPT=

GF_LICENSE_KEY=
GF_RECAPTCHA_PRIVATE_KEY=
GF_RECAPTCHA_PUBLIC_KEY=
GF_DEBUG=false
GFORM_DISABLE_AUTO_UPDATE=true

SENTRY_DSN=

DB_NAME=wp
DB_USER=wp
DB_PASSWORD=wp
DB_HOST=%%LOCAL_IP%%:8082

WP_ENV=development
WP_HOME=http://example.com.test
WP_SITEURL=http://example.com.test/wp

AUTH_KEY="%+U~5+X;U+C/wFMdj99y.%p:2%s<>_R[cB#_4<P8r]GBG8?4c^nN2mB4=jS(V[tQ"
SECURE_AUTH_KEY="GZ)QswCOf9~HN|&K0-,BXkzy?#(Muy9PH#-~G}(R[8<c4!F!urJoJ^zxp~MPPQRX"
LOGGED_IN_KEY="/^6J*Ou:lbcn:9Y!Y%86vzH9E{({Hzd:hjqy;L^gf~g_.}+vix4)]k7XPI5{qI]@"
NONCE_KEY="dc;,v#db*!CQ%p89@)3/N/q,Pa)/0Kd}>DXfe,d15A]@n|/v.4>MvsxqXsL8/+k-"
AUTH_SALT="T<nqjx^1/R{P*=j,sw_@p5r>aJ,B](.r_A0_,%Lnz8XSf3&z;L0!9p]#):V|R2!u"
SECURE_AUTH_SALT="W{E~.<%n).&AKaEYnOz{{i-hR;RT#c,2=C=fXR)M>)X8|&bz:Uc97hjTZk/8-4LM"
LOGGED_IN_SALT="wYkJ?UAH@hh4D.]^dT/%WyT]{l+F5_U1xO5Mau.>3G%Yuxeqip;M{1Bm@5>,p:[I"
NONCE_SALT="swg-].bMALbw/=.f0pD=?J3fS_DvLUmrP>}1IX=#u2uF;2P2R!veeCr6,f~uLQC:"


