ACF_PRO_KEY=%%ACF_PRO_KEY%%

EP_HOST=http://search:9200

COOKIE_SCRIPT=

GF_LICENSE_KEY=
GF_RECAPTCHA_PRIVATE_KEY=
GF_RECAPTCHA_PUBLIC_KEY=
GF_DEBUG=false
GFORM_DISABLE_AUTO_UPDATE=true

SENTRY_DSN=

DB_NAME=wp
DB_USER=wp
DB_PASSWORD=wp
DB_HOST=db

WP_ENV=development
WP_HOME=http://example.com.test:8080
WP_SITEURL=http://example.com.test:8080/wp

AUTH_KEY="/bS^MCPkaK[|MJLEmeJ}OzVJ;.5HeywtT=P()pkn(W%bl1;+EDiIMFq>R60#sHQP"
SECURE_AUTH_KEY="I~c0#vJ63/;6KkuV~zjwB#/vzAZ)xy&]0|%xep6^C.!g?L2Mzru4rO%KW4gxf+{<"
LOGGED_IN_KEY="WS9B{e4zX}niS=D~Z9z^}KA+.~d3A2B7(Z7(mg(:~&Ae7]t@N})?cF^v;jBB8SdO"
NONCE_KEY="F:~SZ5#BK&s>7O;5yPFC>?sCwo8<tmE~aPf6HxzU*84Rh+1,DpzBd)^sxD?7m|uv"
AUTH_SALT="nT8p%[Vys~Mlc/k4#L~52+l5Knfs&/&iY6vRDx09P=ti.sX:EmJh@M]OO-lYd=(P"
SECURE_AUTH_SALT="iTd7,K};lN;2|_IaMUN}^cSl8(RmPzj>IJOjOT@+Y;laT|xJuCq!z;l8%xeal7,>"
LOGGED_IN_SALT="xZs?z54Xz~9G|ZG#pc7cb3!f@5r<7H+vnfZ_=twSrW>F>G[(gDd^LZl]+,~s%TY6"
NONCE_SALT="RbPj_9eD0O14U7OjfW%qMLTFUo}Q.{IHNO-9@=CEhpX7Q|7T>K?@*Zjm7ndN0.6X"


