ACF_PRO_KEY=%%ACF_PRO_KEY%%

EP_HOST=http://search:9200

COOKIE_SCRIPT=

GF_LICENSE_KEY=
GF_RECAPTCHA_PRIVATE_KEY=
GF_RECAPTCHA_PUBLIC_KEY=
GF_DEBUG=false
GFORM_DISABLE_AUTO_UPDATE=true

SENTRY_DSN=

DB_NAME=wp
DB_USER=wp
DB_PASSWORD=wp
DB_HOST=db

WP_ENV=development
WP_HOME=http://example.com.test:8080
WP_SITEURL=http://example.com.test:8080/wp

AUTH_KEY="?xad#FuLD|<7n33zHV>]0>_>1ck%!H1IiT#JD#xU/FZI@k++%nf}PAfZqdfHQ0u~"
SECURE_AUTH_KEY=",BfCRKH=a~O?)5oZ)~;X&GTDa,n_rug[1;mb0JU1Jk%|X&SL+I^pPBQ4jViS,J*6"
LOGGED_IN_KEY="lH0c|ca6gJU^7F;-P=}jg(;W!_zi5@!y[U+>l!W6(-<3jD,f}X70BwR>NB%9%7-4"
NONCE_KEY="frPY.z6z3#N4L|*-?a@gvU!&vTGs?>|q5e}9uy!#8Q8!Ec6|K,pBE>2cXM{69T)T"
AUTH_SALT="=pI{AU-:F;>~atkv0~j8gwVw4I[4h{Vtdy_&?tCx8dyXSabp80-YKZmj|TGLMD|Y"
SECURE_AUTH_SALT="-b[boUGU>x8j+DWPN;gRtbm9z:&*uV^#FJjcBd}X,ks+WO)@Wp-3<[whKDS~B]#:"
LOGGED_IN_SALT="fj8.?r9tY3,bWn%Txj8Tm;-Yz8:,Pwjg5D|;(Ue6G:hPQSg~*L]~mDc=N+9/=a6V"
NONCE_SALT="fXRxO[[,O?z#W+Tr*)~~TXCCc*eBN(#&8cv.|=mW4z)nyT9::m;<.tyAn@imp&Wb"


