%grid {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -16px;
        margin-bottom: -16px;

        @include media(M) {
            margin-left: -24px;
            margin-bottom: -24px;
        }
    }

    &__item {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        width: calc(100% - 16px);
        margin-left: 16px;
        margin-bottom: 16px;

        @include media(M) {
            margin-left: 24px;
            margin-bottom: 24px;
        }

        &--half {
            @extend %grid__item;

            @include media(M) {
                width: calc(50% - 24px);
            }
        }

        &--third {
            @extend %grid__item;

            @include media(M) {
                width: calc(#{percentage(1/3)} - 24px);
            }
        }

        &--fourth {
            @extend %grid__item;

            @include media(S) {
                width: calc(50% - 16px);
            }

            @include media(L) {
                width: calc(25% - 24px);
            }
        }
    }
}